# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl
*.sqlite3
*.log

# Virtual Environments
venv/
env/
.menv/
.mypy_cache/
.myenv/
.mypy/
.mypyc/
.mypy_cache/
.mypy/
myenv/

# Environment Variables
.env

# Streamlit
.cache/
.streamlit/

# System
.DS_Store
Thumbs.db

# Jupyter Notebook
.ipynb_checkpoints/

# VSCode
.vscode/
